body{
    background-image: url(pictures/SeaBackground.jpg);
    background-size: cover;
}
.Dolphin{
    display: flex;
    justify-content: center;
    width : 100%;
    margin-top: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}
#HPBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #E76F51;
    color: white;
    border-color: #FF7878 · opacity 0.35;
    font-size: 20px;
    border-radius: 10px;
}
#levelBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #0D2137;
    color: #5ED8E8 ;
    border-color: #5EB4E8 · opacity 0.4;
    font-size: 20px;
    border-radius: 10px;
}
#ScoreBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #2ECC71;
    color: white;
    border-color: #50DC8C · opacity 0.35;
    font-size: 20px;
    border-radius: 10px;
}
#moodBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color:#FFD23C;
    border-color: rgba(255,255,255, 0.35);
    color: white;
    border-radius: 50%;
}
#moodIcon{
    width: 70px;
    height: 70px;
}
#moodIcon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mapBox{
    position: fixed;
    bottom: 30px;
    left: 50px;
}
.mapBox :hover{
    cursor: pointer;
    scale: 1.5;
    transition-duration: 0.3s;
}
.linkBox{
    position: fixed;
    bottom: 30px;
    right: 50px;
}